{% extends 'header_footer.html' %}


{% load static %}
{% block page_content %}

<!-- <script type="text/javascript" src="{% static 'js/jsfile.js' %}"></script> -->
<div class="body_container">
<div class="container">
  <div class="exercise_form">
    <h3 style="text-align: center">{{title}}</h3>
    <p class="text-center">This is annotation detail</p>
  </div>
  <div class="jumbotron annotation_video_container">
      <div id = "vid_annotations_details" class="vid_annotations_details">
        
      </div>

      <div class="vid_box">
        <video id = "annotation_vid" controls>
          <source src="{{instance.videoFile.url}}" type="video/mp4">
         </video>
      </div>


    <div id = "annotationForm_container" class="annotationForm_container">
      <a id="annotation_closeBtn"">&times;</a>
      <form method="post">{% csrf_token %}
        <div class="input_container">
          <textarea id = "annotation_detial" class = "annotation_detial" type="text" value = "" name="details" value="{{obj.questionID}}"></textarea>
        </div>
        <button id = "annotation_submit" type="button" class="annotation_submit">Add</button>
      </form>
    </div>
   
  </div>


  



<div class="annotation_tags">
    <div>ppp</div>

  </div>


  <div class="annotation_button_container">
    <a class="finish_button" href="{% url 'myExercise' %}"><button>Finish</button></a>
  </div>


  

</br>
</br>
</div>
</div>


<script>

window.onload = function() {
  // specify major varaibles needed to using in
  // this function
  var video = document.querySelector("video"),
    info = document.querySelector("span"),
    initial = document.querySelector("i");
    concanenatedVideoElems = "";
    button = document.querySelector("button");
    annotationSubmit =  document.getElementById("annotation_submit");
    annotationClose = document.getElementById("annotation_closeBtn")
    vidData = [];
    videoInfo = {};
    details = "";
    Xval = 0.0;
    Yval = 0.0;
    timeStep = 0.0;
    localdata = "";
    myData = {{contents|safe}};
  // get element size of the page
  function getElementCSSSize(el) {
    var cs = getComputedStyle(el);
    var w = parseInt(cs.getPropertyValue("width"), 10);
    var h = parseInt(cs.getPropertyValue("height"), 10);
    return {width: w, height: h}
  }
  // download saved json file
  function saveText(text, filename){
    var a = document.createElement('a');
    a.setAttribute('href', 'data:text/plain;charset=utf-u,'+encodeURIComponent(text));
    a.setAttribute('download', filename);
    a.click()
  }

  // save to json file
  function saveToJSON(event) {
    saveText(JSON.stringify(vidData), "filename.json");
    //alert("test")
  }

  // when click on video window, performing adding
  // annotations
  function mouseHandler(event) {
    this.pause();
    document.getElementById("annotationForm_container").style.display = "block";

    var size = getElementCSSSize(this);
    var scaleX = this.videoWidth / size.width;
    var scaleY = this.videoHeight / size.height;

    var rect = this.getBoundingClientRect();  // absolute position of element
    var x = ((event.clientX - rect.left) * scaleX + 0.5)|0;
    var y = ((event.clientY - rect.top ) * scaleY + 0.5)|0;
    Xval = x;
    Yval = y;
    // console.log(x);
    // console.log(y);
    timeStep = this.currentTime;
    
  }

  // add onclick listener to video
  video.addEventListener("click", mouseHandler);
  // add onclick listener to the close button
  annotationClose.addEventListener('click',function(){
    document.getElementById("annotationForm_container").style.display = "none";
    video.play();

  });


  // add event listener when click submit button
  // of adding annotation form
  annotationSubmit.addEventListener('click', function() {

      details = $("textarea").val();
      // console.log(details);
      if (details != "" && details != null)
      {
        vidData.push({x: Xval, y: Yval, time: timeStep, details: details});
        var tempData = {x: Xval, y: Yval, time: timeStep, details: details};
        localdata = JSON.stringify([tempData]);
        
        // reference: https://stackoverflow.com/questions/36201666/submit-without-refresh-in-django
        // ajax post method that send post request
        // without reloading the page
        $.ajax({
          type: 'POST',
          url: '/annotations/{{ instance.video_id }}/',
          data :  localdata,
          dataType:'Json'
        }).done(function(contents){
            // This is the ajax.done() method, where you can fire events after the ajax method is complete 
            // For instance, you could hide/display your add/remove button here
            console.log('success post call back');
            // myData = JSON.parse(contents);
          });
          // ajax get method that send get request
          // without reloading the page
          $.ajax({
            type:'GET',
            url : '/annotations/{{ instance.video_id }}/',
          }).done(function(contents){
            console.log('######success get call back');
            myData = JSON.parse(contents);
            // console.log(myData.length)

          });
        
      }

    $.ajax({
      type:'GET',
      url : '/annotations/{{ instance.video_id }}/',
    }).done(function(contents){
      console.log('######success get call back');
      myData = JSON.parse(contents);
      console.log(myData.length)

    });

    
   
    document.getElementById("annotation_detial").value = "";
    video.play();
    document.getElementById("annotationForm_container").style.display = "none";
  
  }, false);
  
  // show the added annotation on the video
  $('#annotation_vid').on('timeupdate',function(event){
    var dataLength = myData.length;
    var dataSet = [];
    var previousLen = 0;
    for(var i =0; i<dataLength; i++){
      dataSet.push(JSON.parse(myData[i]));
    };
    var currentT = this.currentTime;
    var innerContent = "";
    for(var i=0;i<dataLength;i++){
        
        if(currentT > dataSet[i][0]["time"] && currentT < (dataSet[i][0]["time"]+3)){
          innerContent += "<p class=\"single_annotation\" style=\"position:absolute; left:"+ dataSet[i][0]["x"] + "px; top: " + dataSet[i][0]["y"] + "px;\">";
          innerContent += dataSet[i][0]["details"] + "</p>" + "\n";
        };
    };
   
    var infoDiv = document.getElementById("vid_annotations_details");
    infoDiv.innerHTML = "";
    infoDiv.innerHTML = innerContent;
    
    // myData = JSON.parse({{ contents }});
  });

  //   setInterval(function checkvidT(){
  //     // console.log('in loop');
  //      if(vidData[0] != null){
    //  console.log(vidData);
    // };
  //     // console.log(vid.currentTime);
  //     // if(vid.currentTime == 4.1){
  //     //   console.log('catch time');
  //     // }

  //   },10);
}




</script>

{% endblock %}
