{% extends 'header_footer.html' %}
{% block page_content %}

<div class="create_exercise_container">
  {% if user.is_authenticated  %}
    <div class="exercise_form">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <h1>{{title}}</h1>
        {{ form.as_p}}
        <button type="submit" class="signUp_button">Sign up</button>
      </form>
    </div>


  {% else %}
     <div class="create_exercise_perm">
      <p>You have to Login to create an exercise, <a href="{% url 'signIn' %}">Sign In</a> here</p>
    </div>
  {% endif  %}
</div>

{% endblock %}
