{% extends 'header_footer.html' %}
{% block page_content %}


   <div class="container">
      <div class="exercise_form">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
          <br>
          <br>
          <br>
          <h3 style="text-align: center">{{title}}</h3>
          <p class="text-center">This is exercise detail</p>
        <div class="jumbotron">
            {% for video in instance.exerciseVideos.all%}
            <video width=100% height="500" controls>

            <source src="{{video.videoFile.url}}" type="video/mp4">
          </video>
          {% endfor %}
        </div>
      </br>
       </br>

        <div class="row marketing">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="name">Tags: </label>
              <h3 style="text-align: center">{% for tag in instance.exerciseTag.all %}{{tag.tagDescription}}{%endfor%}</h3>
            </div>


      </div>

        <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Description:</label></br>
                 <p style="text-align: center">{{instance.exerciseDescription}}</p>
          </div>
      </div>


    </br>
  </br>
    </div>
    </form>
    </div> <!-- /container -->
  </form>
</div>
</div>

 {% endblock %}
