{% extends 'header_footer.html' %}
{% block page_content %}


<div class="body_container">
<div class="container">
  <div class="exercise_form">
    <h3 style="text-align: center">{{title}}</h3>
    <p class="text-center">This is exercise detail</p>
  </div>
  <div class="jumbotron">
    {% for video in instance.exerciseVideos.all%}
    <video width=100% height="500" controls>
      <source src="{{video.videoFile.url}}" type="video/mp4">
    </video>
    {% endfor %}
  </div>
</br>
</br>

<div class="row marketing">
  <div class="col-lg-6">
    <div class="form-group">
      <label for="name">Tags: </label>
      <p style="text-align: left">{% for tag in instance.exerciseTag.all %}{{tag.tagDescription}}{% include "comma.html" %}{%endfor%}</p>

    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="description">Description:</label></br>
      <p style="text-align: left">{{instance.exerciseDescription}}</p>
    </div>
  </div>

</div> <!-- /container -->


<div class="">
  <p class="lead text-center">Comment here</p>
  {% if user.is_authenticated  %}
  <form method="post">{% csrf_token %}
    {{comment_form}}
    <button id = "submitComment" type="submit" class="btn btn-default ">Comment</button>
  </form>
  {% else %}
    <div class="create_exercise_perm">
      <p>You have to Login for your comment, <a href="{% url 'signIn' %}">Sign In</a> here</p>
    </div>
  {% endif  %}

  {% for comment in instance.comment_set.all%}
  {% if comment.isParent %}
  <div class="container">
    <blockquote>
      <p>{{comment.CommentContent}}</p>
      <footer>by {{comment.CommentPoster}} at {{comment.CommentTimestamp}}</footer>
      {% for child_comment in comment.children %}
        <blockquote>
          <p>{{child_comment.CommentContent}}</p>
          <footer>by {{child_comment.CommentPoster}} at {{child_comment.CommentTimestamp}}</footer>
        </blockquote>
        {% endfor %}
        {% if user.is_authenticated  %}
        <form method="post">{% csrf_token %}
          {{comment_form}}
          <input type="hidden" name="parent_id" value="{{comment.CommentId}}">
          <button id = "reply" type="submit" class="btn btn-default ">Replay</button>
        </form>
        {% else %}
          <div class="create_exercise_perm">
            <p>You have to Login for your comment, <a href="{% url 'signIn' %}">Sign In</a> here</p>
          </div>
        {% endif  %}

    </blockquote>
  </div>
  {%endif%}
  {% endfor %}
</div>
</div>
</div>

 {% endblock %}
