{% extends 'header_footer.html' %}
{% block page_content %}
<style media="screen">
  #id_exerciseDescription{
      height: 200px;
      width:500px;
  }

  #id_exerciseName{
      width: 100%;
  }

  #id_exerciseVideos{
    margin: auto auto;
    width: 100%;
  }

</style>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"></script>

<div class="body_container">
<div class="create_exercise_container">
  <div class="container">
  {% if user.is_authenticated  %}
    <div class="exercise_form">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <h1 class ="text-center">Edit Exercise</h1>
        <p class="text-center">Changes will have to be approved by a moderator before they will be submitted</p>
		  <div class="container" id="tabs">
          <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" id="video0" href="#menu0">Video 1</a></li>
                  <li><a data-toggle="tab" id="video1" href="#menu1">Video 2</a></li>
                  <li><a data-toggle="tab" id="video2" href="#menu2">Video 3</a></li>
                  <li><a data-toggle="tab" id="video3" href="#menu3">Video 4</a></li>
                  <li><a data-toggle="tab" id="video4" href="#menu4">Video 5</a></li>
               </ul>
           <div class="tab-content">
            <div id="menu0" class="tab-pane active">

             </div>
             
            <div id="menu1" class="tab-pane fade">
       
             </div>
             
            <div id="menu2" class="tab-pane fade">
            
             </div>
             
           <div id="menu3" class="tab-pane fade">
             
             </div>
             
            <div id="menu4" class="tab-pane fade">
            
             </div>
          </div>
       </div>
             


        <div class="position_wrapper">

          <div class="video_container">
            <div id = "vid_annotations_details" class="vid_annotations_details">
              
            </div>

            <div class="vid_box">
              <video id = "vid_preview" width="800px" height="400px" controls>
                  <source src="" type="video/mp4">
              </video>
         
            </div>


            <div id = "annotationForm_container" class="annotationForm_container">
              <a id="annotation_closeBtn"">&times;</a>
              
                <div class="input_container">
                  <textarea id = "annotation_detial" class = "annotation_detial" type="text" value = "" name="details"></textarea>
                </div>
                <button id = "annotation_submit" type="button" class="annotation_submit">Add</button>
            </div>



            <div id = "edit_annotationForm_container" class="edit_annotationForm_container">
              <a id="edit_annotation_closeBtn"">&times;</a>
              
                <div class="input_container">
                  <textarea id = "annotation_detial" class = "annotation_detial" type="text" value = "" name="details"></textarea>
                </div>
                <button id = "submit_annotation_submit" type="button" class="annotation_submit">Edit</button>
            
            </div>
         
          </div>
        </div>

        <div  class="annotation_tag_wrapper">
          <label>Annotations:</label>
          <div id = "annotation_tags" class="annotation_tags">
          </div>
        </div>

       


        <div class="col-lg-12">
          <div class="form-group">
            <label for="name">Exercise Title:</label></br>
            {{ form.exerciseName}}
          </div>

        </div>

        <div class="col-lg-8">
          <div class="form-group">
            <label for="description">Description:</label></br>
            {{ form.exerciseDescription}}
          </div>
        </div>

        <!-- <div class="col-lg-4">
          <div class="form-group">
            <label for="tags">Tags separated by comma</label></br>

          </div>
        </div> -->
        <div class="col-lg-4">
          <div class="form-group">
            <label for="tags">Custom tags (Input by pressing 'enter'):</label></br>
            <input class="form-control tm-input tm-input-info">
          </div>
        </div>
        {{ form.exerciseTag}}


        <input class="returnData" type="text" id="returnData" name="returnData">

        <div class="col-lg-12">
          <div class = "signUp_button">
            <button id = "submitExercise" type="submit" class="btn btn-block btn-primary btn-lg">
              Submit Changes
            </button>
          </div>

        </div>

      </form>
    </div>

    {% else %}
      <div class="create_exercise_perm">
        <p>You have to Login to edit an exercise, <a id = "signIn" class="signIn_popup_trigger">Sign In</a> here</p>
      </div>
    {% endif  %}
   </div>
</div>
</div>

<script type="text/javascript">
	
  var tempvideos = {{ videos|safe}};
  console.log(tempvideos);
  // var myData = JSON.parse(tempvideos[0]['annotations']);
  var current_vid = 0;
  var tempData = tempvideos[0]["annotations"];
  var myData = [];
  var annotationID;
  // console.log(tempData)
   if (tempData != ""){
      var myData = JSON.parse(tempData)
    };
  
   $(document).ready(function () {
    $('#tabs .nav-tabs a').on('click', function(){
      activeTab=$(this).attr('id');
      if (activeTab == 'video0'){

        var infoDiv = document.getElementById("vid_annotations_details");
         infoDiv.innerHTML = "";

        var tagDiv = document.getElementById("annotation_tags");
        tagDiv.innerHTML = "";
        if(tempvideos[0] != null){
          
          tempData = tempvideos[0]["annotations"];
          if (tempData != ""){
            myData = JSON.parse(tempData)
            var tempLength = myData.length;
            var tempContent = "";
            for(var i=0;i<tempLength;i++){
              tempContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
            };
            // console.log(tempContent)
            var tempDiv = document.getElementById("annotation_tags");
            // console.log(tempDiv)
            tempDiv.innerHTML = tempContent;
          };
        };
        current_vid = 0;
      }
        
      else if (activeTab == 'video1')
      {
        var infoDiv = document.getElementById("vid_annotations_details");
        infoDiv.innerHTML = "";
    		var tagDiv = document.getElementById("annotation_tags");
        tagDiv.innerHTML = "";
        if(tempvideos[1] != null){
          
          tempData = tempvideos[1]["annotations"];
          if (tempData != ""){
            myData = JSON.parse(tempData);
            var tempLength = myData.length;
            var tempContent = "";
            for(var i=0;i<tempLength;i++){
              tempContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
            };
            // console.log(tempContent)
            var tempDiv = document.getElementById("annotation_tags");
            // console.log(tempDiv)
            tempDiv.innerHTML = tempContent;
          };
        };
        current_vid = 1;
      }
        
      else if (activeTab == 'video2')
      {

        var infoDiv = document.getElementById("vid_annotations_details");
       infoDiv.innerHTML = "";

        var tagDiv = document.getElementById("annotation_tags");
        tagDiv.innerHTML = "";
        if(tempvideos[2] != null){
          
          tempData = tempvideos[2]["annotations"];
          if (tempData != ""){
            myData = JSON.parse(tempData)
            var tempLength = myData.length;
            var tempContent = "";
            for(var i=0;i<tempLength;i++){
              tempContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
            };
            // console.log(tempContent)
            var tempDiv = document.getElementById("annotation_tags");
            // console.log(tempDiv)
            tempDiv.innerHTML = tempContent;
          };
        };
        current_vid = 2;
        
      }
        
      else if (activeTab == 'video3')
      {
        var infoDiv = document.getElementById("vid_annotations_details");
        infoDiv.innerHTML = "";

    		 var tagDiv = document.getElementById("annotation_tags");
          tagDiv.innerHTML = "";
    	   if(tempvideos[3] != null){
          
          tempData = tempvideos[3]["annotations"];
          if (tempData != ""){
            myData = JSON.parse(tempData)
            var tempLength = myData.length;
            var tempContent = "";
            for(var i=0;i<tempLength;i++){
              tempContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
            };
            // console.log(tempContent)
            var tempDiv = document.getElementById("annotation_tags");
            // console.log(tempDiv)
            tempDiv.innerHTML = tempContent;
          };
        };
        current_vid = 3;
      } 
        
      else if (activeTab == 'video4')
      {

        var infoDiv = document.getElementById("vid_annotations_details");
        infoDiv.innerHTML = "";

        var tagDiv = document.getElementById("annotation_tags");
        tagDiv.innerHTML = "";
  		  if(tempvideos[4] != null){
          tempData = tempvideos[4]["annotations"];
          if (tempData != ""){
            myData = JSON.parse(tempData)
            var tempLength = myData.length;
            var tempContent = "";
            for(var i=0;i<tempLength;i++){
              tempContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
            };
            // console.log(tempContent)
            var tempDiv = document.getElementById("annotation_tags");
            // console.log(tempDiv)
            tempDiv.innerHTML = tempContent;
          };
        };
        current_vid = 4;
      }
      setVideoSrc();
    });
  });
  
  function setVideoSrc() {

    // console.log(myData)
    var videoSrc = document.querySelector("video > source");
    var video = document.querySelector("video");
    if(tempvideos[current_vid] != null){
      videoSrc.src = tempvideos[current_vid]['url'];
      video.load();

      if (tempData != ""){
        console.log(myData)
        var tempLength = myData.length;
        var tempContent = "";
        for(var i=0;i<tempLength;i++){
          tempContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
        };
        // console.log(tempContent)
        var tempDiv = document.getElementById("annotation_tags");
        // console.log(tempDiv)
        tempDiv.innerHTML = tempContent;
        // console.log(tempDiv.innerHTML)
      };
    }else{
      videoSrc.src = "";
      video.load();
    };
  };




  function editAnnotation(event){
    console.log('triggered');
    annotationID = parseInt(event.id);
    console.log(myData);
    $("#edit_annotationForm_container textarea").val(myData[annotationID]["details"]);
    $("#edit_annotationForm_container").show();
    // $("#edit_annotationForm_container textarea").val("");
    // video.play();
    tempvideos[current_vid]["annotations"] = JSON.stringify(myData);
    // console.log(returnData);
    // console.log(tempvideos);
  };





  function showDetials(element){
    // assign booking content to a variable
    // console.log('clicked');
    $content = $(element).closest(".single_tag").find('.tag_description');
    
    // if content is hiddent, show up arrow. If not show down arrwo
    if($content.css("display")=="none"){
      $(element).css("transform","rotateX(180deg)");
    } 
    else{
      $(element).css("transform","rotateX(0deg)");
    }
    // toggle the content on click
    $content.slideToggle(500)

    
  };
  var tagVals = $("#id_exerciseTag").val().split(",");
  // console.log(tagVals);

  $(".tm-input").tagsManager(
    {prefilled: tagVals}
  );
  $(".multiTags").val($('.tm-input').next('input').val());
  $(".tm-tag-remove").on('click',function(e){
    $(".multiTags").val($('.tm-input').next('input').val());
  })
  // $('.tm-input').keyup(function(e){
  //     if(e.keyCode == 13)
  //     {
  //         var tempVal = $(this).next('input').val();
  //         $(".multiTags").val(tempVal);
  //         console.log( $(".multiTags").val());
  //     }
  // });

  

  function deleteAnnotation(element){
    // reference: https://stackoverflow.com/questions/44185632/get-index-of-class-element-with-inline-onclick-pure-js-no-jquery
    var els = Array.prototype.slice.call( document.getElementsByClassName('single_tag'), 0 );
    var tempIndex = els.indexOf(element.closest(".single_tag"));
    myData.splice(tempIndex,1);
    $(element).closest(".single_tag").remove();
    tempvideos[current_vid]['annotations']=JSON.stringify(myData);

  }

  window.onload = function() {
    var video = document.querySelector("video"),
        videoSrc = document.querySelector("video > source"),
        concanenatedVideoElems = "";
        annotationSubmit =  document.getElementById("annotation_submit");
        annotationClose = document.getElementById("annotation_closeBtn");
        editAnnotationClose = document.getElementById("edit_annotation_closeBtn");
        editAnnotationSubmit = document.getElementById("submit_annotation_submit");
	     activeTab = 'video0';
        vidData = [];
        videoInfo = {};
        details = "";
        Xval = 0.0;
        Yval = 0.0;
        timeStep = 0.0;
        localdata = "";
        returnData = "";
        sumitBtn = document.getElementById("submitExercise");
        returnInput = document.getElementById("returnData");
        tempDic = {};
    

    // set video url
    // reference: https://stackoverflow.com/questions/3732562/can-i-use-javascript-to-dynamically-change-a-videos-source
    videoSrc.src = tempvideos[current_vid]['url'];
    video.load();
    setVideoSrc();



    // when click on video window, performing adding
  // annotations
    function mouseHandler(event) {
      // console.log('clciked ');
      // console.log(($(":file").val()));
      if(videoSrc.src != ""){
        console.log('has video');
        this.pause();
        document.getElementById("annotationForm_container").style.display = "block";
      
        // var size = getElementCSSSize(this);
        
        // var scaleX = this.videoWidth / size.width;
        // var scaleY = this.videoHeight / size.height;

        var rect = this.getBoundingClientRect();  // absolute position of element
        console.log(event.clientX);
        // var x = ((event.clientX - rect.left) * scaleX + 0.5)|0;
        // var y = ((event.clientY - rect.top ) * scaleY + 0.5)|0;
        var x = ((event.clientX - rect.left)  + 0.5)|0;
        var y = ((event.clientY - rect.top )  + 0.5)|0;

        Xval = x/this.width;
        Yval = y/this.height;
        timeStep = this.currentTime;
      };
      
    }





    video.addEventListener("click", mouseHandler);
    // add onclick listener to the close button
    annotationClose.addEventListener('click',function(){
      document.getElementById("annotationForm_container").style.display = "none";
      video.play();
    });

    editAnnotationClose.addEventListener('click',function(){
      document.getElementById("edit_annotationForm_container").style.display = "none";
      video.play();

    });

    sumitBtn.addEventListener('click',function(){
      var tempVal = $(".tm-input").next('input').val();
      $(".multiTags").val(tempVal);
      returnInput.value = JSON.stringify(tempvideos);

    })




    annotationSubmit.addEventListener('click', function() {
        details = $("#annotationForm_container textarea").val();
        // console.log(details);
        var tagDiv = document.getElementById("annotation_tags");
        tagDiv.innerHTML = "";
        if (details != "" && details != null)
        {
          // myData = getMyData();
          tempDic = {x: Xval, y: Yval, time: timeStep, details: details};
          myData = [];
          if( tempvideos[current_vid]['annotations'] != ""){
            myData = JSON.parse(tempvideos[current_vid]['annotations']);
          }
          console.log(myData);
          myData.push(tempDic);
          sortByTimeStep();



          tempvideos[current_vid]['annotations']=JSON.stringify(myData);
          // console.log(tempvideos);



          var dataLength = myData.length;
          var tagContent = "";
          for(var i=0;i<dataLength;i++){
            tagContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
          };
          var tagDiv = document.getElementById("annotation_tags");
          tagDiv.innerHTML = tagContent;

        };


      
     
      document.getElementById("annotation_detial").value = "";
      video.play();
      document.getElementById("annotationForm_container").style.display = "none";
      // returnData = JSON.stringify(myData);
      tempvideos[current_vid]["annotations"] = JSON.stringify(myData);
      // console.log(returnData);

      // setMyData();
    
    }, false);



    editAnnotationSubmit.addEventListener('click',function(){
      console.log('submit annotation');
      // console.log($("#edit_annotationForm_container textarea").val());
      myData = JSON. parse(tempvideos[current_vid]["annotations"]);
      console.log(myData);
      console.log('chekc mydata')
      console.log(annotationID);
      myData[annotationID]["details"] = $("#edit_annotationForm_container textarea").val();



      var dataLength = myData.length;
      var tagContent = "";
      for(var i=0;i<dataLength;i++){
        tagContent+= "<div class= \"single_tag\">\n<div class=\"tag_time\">\n<div class=\"tag_info\">\n<p>"+ myData[i]["time"].toFixed(2) + " s </p>\n</div>\n<div class=\"tag_close_btn\" onclick=\"deleteAnnotation(this);\">\n&times;\n</div>\n</div>\n<div class=\"tag_details svg toggle\" onclick=\"showDetials(this);\">\n</div>\n<div class= \"tag_description\">" + myData[i]["details"] + "\n</div>\n</div>";
      };
      var tagDiv = document.getElementById("annotation_tags");
      tagDiv.innerHTML = tagContent;


      document.getElementById("edit_annotationForm_container").style.display = "none";
      tempvideos[current_vid]["annotations"] = JSON.stringify(myData);
    })




    function sortByTimeStep(){
      myData.sort(function(a,b){
        if(a.time<b.time) return -1;
        if(a.time>b.time) return 1;
        return 0;
      })
      // console.log(myData)
    }


    $('#vid_preview').on('timeupdate',function(event){
      var infoDiv = document.getElementById("vid_annotations_details");
      infoDiv.innerHTML = "";
      if (tempvideos[current_vid] != null){
        tempData = tempvideos[current_vid]["annotations"];
        if (tempData != ""){
          myData = JSON.parse(tempData);
          var dataLength = myData.length;
          var currentT = this.currentTime;
          var innerContent = "";
         
          for(var i=0;i<dataLength;i++){
              
              if(currentT > myData[i]["time"] && currentT < (myData[i]["time"]+3)){

                tempX =  myData[i]["x"] * this.width;
                tempY = myData[i]["y"] * this.height;
                innerContent += "<p class=\"single_annotation\" "+ " id =\"" + i + "\" onclick=\"editAnnotation(this);\" style=\"position:absolute; left:"+ tempX + "px; top: " + tempY + "px;\">" + myData[i]["details"] + "</p>" + "\n";

              };
          };
          infoDiv.innerHTML = innerContent;
        }
      }else{
        infoDiv.innerHTML = "";
      }
    });




  };





</script>
{% endblock %}
