<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="csfile.css">
	<script type="text/javascript" src="jsfile.js"></script>
</head>

<body>
	Video placed somewhere on page <i></i>:<br><br>
	<div id="cool"></div>
	<div><
	
	  <video onclick="this.paused? this.play() : this.pause()" muted loop autoplay="true" style="width:320px;height:auto;">
		<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
			<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm">
				<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg">
	  </video>
	  <span></span>
	</div>
	
	<div class="button" align="bottom">
		<button type="button">Save Annotations</button>
	</div>
	
</body>
</html>
