<!DOCTYPE html>
{% load static %}
<html>
  
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body class = "signIn">


	<div class = "sigIn_header">
		<div class="header_text">
			<p> Virtual Gym </p>
		</div>
		<div class="header_pic">

		</div>
	</div>

	<div class = "signIn_form">
		<form >
		<div class="signIn_username">
		    <input type="text" id="fname" name="firstname" placeholder="Your name..">
		</div>
		<div class="signIn_password">
		    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
		</div>

	  </form>

	</div>

</body>
</html>