

{% extends 'header_footer.html' %}
{% block page_content %}

<!-- <style media="screen">
  #id_questionDescription{
      height: 200px;
      width:500px;
  }
</style> -->

<h1 align="center">Q&A forum</h1>
      </br></br>
{% for obj in objects_list %}
  {% if obj.isParent %}
    <p style="margin-left:10%;"><font size="5.5">  {{ forloop.counter }}.{{obj.questionDescription}}</font></p>
    <p style="margin-left:50%;"> -----------{{obj.userID}}&emsp;{{obj.dateAsked}}</p>
    {% for child_answer in obj.children%}
      <p style="margin-left:20%;">{{ forloop.counter }}： {{child_answer.questionDescription}} By {{obj.userID}}</p>
    {%endfor%}


  {% if user.is_authenticated  %}
  <form  style="margin-left:60%;" method="post">{% csrf_token %}
    {{form.questionDescription}}
    <input type="hidden" name="questionparent_id" value="{{obj.questionID}}">
    <button type="submit" class="signUp_button">Reply</button>
  </form>
        <hr />
  {% else %}
    <div class="create_exercise_perm">
      <p>You have to Login to Post questions, <a href="{% url 'signIn' %}">Sign In</a> here</p>
    </div>
  {% endif  %}

{%endif%}
{% endfor %}


<!--  ask button -->
{% if user.is_authenticated  %}
  <div align="right" >
      <!-- Trigger the modal with a button -->
      <div style="position: fixed;top:10%;right:8%;">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" >Ask a Question</button>
      </div>
   <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
    
      <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center">Create New Question</h4>
              <div class="modal-body">
              <form method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="col-lg-8">
              <div class="form-group">
                <label for="description">Question_Description:</label></br>
                  {{ form.questionDescription}}
              </div>
              <button type="submit" class="btn btn-success" onclick="reloadPage()">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% else %}
  <div class="create_exercise_perm">
    <p>You have to Login to Post questions, <a href="{% url 'signIn' %}">Sign In</a> here</p>
  </div>
{% endif  %}

{% endblock %}
