

{% extends 'header_footer.html' %}
{% block page_content %}

<style media="screen">
  .panel-heading {
    padding: 15px 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
    color: #333;
    background-color: #a29784;

}
.panel {

    background-color: #fff;
    border: 0px solid transparent;
  }

  .panel-group .panel {
    margin-bottom: inherit;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #888888;
}

</style>

<div class="body_container">
<h1 align="center">Frequently Asked Questions</h1>


<div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How do I create an exercise?</a>
              </h4>

            </div>
            <!-- <div id="question0" class="panel-collapse collapse" style="height: 0px;"> -->
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                    In order to create an exercise you must be logged in, and you can log in <a class="signIn_popup_trigger"> Here </a>
                    Once you are logged in there will be an option to create exercise under the exercise heading at the top of the page.
                        </p>
                </div>
            <!-- </div> -->
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: I made a mistake, how do I change the exercise I created?</a>
              </h4>

            </div>
            <!-- <div id="question3" class="panel-collapse collapse" style="height: 0px;"> -->
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>In order to edit any exercise you create you go to the  <a href="/myExercise"> Edit Exercises</a> page. From there you find the exercise you are looking for and click the green pencil button in the corner.</p>
                </div>
            <!-- </div> -->
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: Why can't I see the exercise I just created?</a>
              </h4>

            </div>
            <!-- <div id="question1" class="panel-collapse collapse" style="height: 0px;"> -->
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>This is because each exercise must be approved by a moderator before other users may see it. You may still see it and edit it at the <a href="/myExercise"> Edit Exercises</a> page.</p>
                </div>
            <!-- </div> -->
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: Why can't I see my exercise after I edit it?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>After you edit an exercise it has to undergo the same approval proccess that a new exercise must has to.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: How do I become a Moderator?</a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Unfortunately at this time there is no way to become a Moderator. </p>
                </div>
            </div>
        </div>


        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: When creating an exercise, how do I place text on the video?</a>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>While you are creating or editing an exercise you may click on the video to add an annotation at that time and place during the video.
                    If you make a mistake you can remove them by clicking the "x" on the annotation timestamp below the video. </p>
                </div>
            </div>
        </div>


      {%for obj in objects_list%}
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#{{obj.questionID}}">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Q: {{obj.Question}}?</a>
              </h4>

            </div>
            <div id="{{obj.questionID}}" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>
                    <p>{{obj.Answer}}</p>
                </div>
            </div>
        </div>
      {%endfor%}


    </div>
</div>
</div>
</div>
{% endblock %}
