
{% extends 'header_footer.html' %}
{% block page_content %}




  <div class = "signUp_form_container">
  	{% if user.is_authenticated  %}
	<div class = "already_loggedIn">
		<p>You already logged in</p>
	</div>
	{% else %}






	<div class = "signUp_form">

		{% if exception != "None" %}
		
		<div class="alert">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		 	<strong>Warning! </strong>{{exception}}
		</div>

		{% endif %}

		<form method="post" action="">{% csrf_token %}
     		 <h1 class="signUp_title">{{title}}</h1>
			<div class="signUp_username">
				<label>User Name</label>
			    {{ form.email }}
			</div>
			<div class="signUp_password">
				<label>Password</label>
			    {{ form.password }}
			</div>
			<!-- <div class="signUp_confirm">
			    {{ form.confirm }}
			</div> -->
      <!-- {{ form.as_p}} -->
      		<div class="signUpButtonContainer">
			<button type="submit" class="signUp_button">Sign up</button>
			</div>
	  </form>
	</div>


	 <div class="go_signIn">
		<p>Already have an account,<a href="{% url 'signIn' %}"> Sign In</a> here</p>

	</div>

	{% endif  %}

</div>

{% endblock %}