
{% extends 'header_footer.html' %}
{% block page_content %}
<div class="body_container">
<!--
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}


            {% if user.is_authenticated %}


            {% endif %}


        {% endif %} -->
    
    <div class = "container">
    <div class ="span4 offset8">
    <div class = "jumbotron">
    <form method = "post" action="{% url 'signIn' %}">{% csrf_token %}
		
		<!--- LABELS HERE -->
		<div class ="row">
			<h4> Email: </h4>
			<div class="signIn_username">
			    <input type="text" id="email" name="email" placeholder="User name">
			</div>
			<div class="createSocial">
				<a id="facebookSignIn" class="svg facebook" href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}"></a>
			</div>
		</div>
		
		<div class ="row">	
			<h4> Password: </h4>
			<div class="signIn_password">
			    <input type="password" id="password" name="password" placeholder="Your password">
			</div>
			<div class="createSocial">
				<a id="googleSignIn" class="svg google" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'index' %}"></a>
			</div>


		</div>

			
		<div class ="row">
			<div class="signInButtonContainer">
				<button id = "signInButton" type="submit" class="btn btn-success">Sign In</button>
			</div>
			<div class="createSocial">
				<a id="twitterSignIn" class="svg twitter" href="{% url 'social:begin' 'twitter' %}?next={% url 'index' %}"></a>
			</div>

		</div>
		<div class ="row">
		    <div class="go_signUp">
        	<p>Don't have an account?<a href="{% url 'signUp' %}"> Sign Up</a> here</p>
    		</div>
    	</div>
			
			


	</form>
	</div>	
	</div>
	</div>




    
        
        
        


</div>



{% endblock %}
