
{% extends 'header_footer.html' %}


{% block page_content %}
<style>
    .radius{
        text-align: right;
        background-color: #d2ff4d;
        /*background-color: #cccccc;*/
        /*background-image: radial-gradient(#e6ffff, white);*/
        border: 1px solid #000;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding:3px;
        color:#000;
        opacity: 0.5;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      padding:5px;
      text-decoration: none;
    }
    a:active {
    text-decoration: none;
    }

</style>


<div class="body_container">
<div class="view_exercise_repo_container">

    <!--show Exercise-- >
    <div class="container">
      <section>
        <!-- <div class="page-header"> -->
        <!-- </div> -->
        <!-- <p style="text-align: center">{{ resultTitle}}</p> -->
        <div class="row">

          {% for obj in objects_list %}
          <div class="col-md-3">
              <h3 >
                <a class = "title" style="color:#000; font-size:16px;" href="{%url "detail" id=obj.exerciseId %}"><b><u>{{obj.exerciseName|truncatechars:30}}</u></b>
                </a>
              </h3>
            <div class="thumbnail">

             <!--  <p style="text-align: center">{{obj.}}</p> -->

              {% for video in obj.exerciseVideos.all|slice:":1" %}
              <a href="{%url 'detail' id=obj.exerciseId %}">
                <video width=100% height=“100%” >
                  <source src="{{video.videoFile.url}}" type="video/mp4">
                </video>
              </a>
              {% endfor %}
              </br>
              <p style="text-align: center;">
                {{obj.exerciseData}}
              </p>

<!-- {% include "comma.html" %} -->

            </div>
             {% for tag in obj.exerciseTag.all %}
              <a class="radius"  text-align: center href="http://localhost:8000/viewProfile/?q={{tag.tagDescription}}">
              ○{{tag.tagDescription}}</a><span>&nbsp;{%endfor%}</span>
          </div>
            {% endfor %}

          </div>
        </section>
    </div>

    <!-- http://blog.csdn.net/grs294845170/article/details/72867185 -->
<div class = "view_all_exe_pagination" style="display: block;text-align: center">
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if objects_list.has_previous %}
            <li>
            <a href="?page={{ objects_list.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
        {% endif %}

       {% for pg in objects_list.paginator.page_range %}
          {% if objects_list.number == pg %}
            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
          {% else %}
            <li><a href="?page={{ pg }}">{{ pg }}</a></li>
          {% endif %}
      {% endfor %}
      {% if objects_list.has_next %}
        <li>
          <a href="?page={{ objects_list.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
    </ul>
    </nav>
  </div>
</div>

{% endblock %}
