{% load static %}
{% include 'navBar.html' %}

<div class="view_exercise_repo_container">




    <div class="repo_list">
    <!--show Exercise-- >
    <div class="container">
      <section>
        <!-- <div class="page-header"> -->
        <!-- </div> -->

        <div class="row">
          {% for obj in objects_list %}
          <div class="col-md-4s">
            <!-- <h2>{{title}}</h2> <img src="{% static "girls.jpg" %}"> -->
            <div class="thumbnail">

    
                {% static "" as baseUrl %}
                {% for video in obj.exerciseVideos.all %}
					<center>
					{% if video.videoPerspective == 0 %}
						{{ "Front Video" }}
					{% elif video.videoPerspective == 1 %}
						{{ "Back Video" }}
					{% elif video.videoPerspective == 2 %}
						{{ "Top Video" }}
					{% elif video.videoPerspective == 3 %}
						{{ "Left Video" }}
					{% elif video.videoPerspective == 4 %}
						{{ "Right Video" }}
					{% elif video.videoPerspective == 5 %}
						{{ "Three Quarters Video" }}
					{% endif %}
					</center> 
					<center>
					{{ video.videoFile }}
					</center>
                <div class="video">
                 <video width=100% height="200" controls>
					
				<source src="{{ baseUrl }}/uploadVideo/{{ video.videoFile }}" type="video/mp4"
				</video>
				</div>
				{% endfor %}
              <h3 style="text-align: center">Tag: </h3>
              <center>
              {% for tag in obj.exerciseTag.all %}
				
				{{ tag.tagDescription }}
			  {% endfor %}
			  </center>
              <p style="text-align: center">Description:{{obj.exerciseDescription}}</p>
            </div>
            {% endfor %}
          </div>

        </section>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
