
{% extends 'header_footer.html' %}


{% block page_content %}
<div class="body_container">
<div class="view_exercise_repo_container">


    <!--show Exercise-- >
    <div class="container">
      <section>

        <!-- <div class="page-header"> -->
        <!-- </div> -->

        <div class="row">
          {% for obj in objects_list %}
          <div class="col-md-4">
            <div class="thumbnail">
              {% for video in obj.exerciseVideos.all%}
              <video width=100% height="200" controls>

                <source src="{{video.videoFile.url}}" type="video/mp4">
              </video>
<!--                 <object id="video" width="400" height="200" border="0" classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,5,715">
                <embed width="100%" height="200" border="0" autostart=0 filename="video" src="{{video.videoFile.url}}">
                </embed>
                </object> -->
              {% endfor %}
			
              
              <p style="text-align: center">{{obj.}}</p>
              <h3 style="text-align: center"><a style=" color:#666; font-size:16px;" href="{%url "detail" id=obj.exerciseId %}">Description: {{obj.exerciseDescription}}</p>
              <p style="text-align: center">Tags: {% for tag in obj.exerciseTag.all %}{{tag.tagDescription}}{% include "comma.html" %}{%endfor%}</h3>
            </div>
          </div>
            {% endfor %}
          </div>

        </section>
    </div>

</div>
</div>


{% endblock %}
