.createSocial {
	display: none;
	// dislay

	@media (min-width: 400px) {
		display: flex;
		justify-content:space-between;
		width: 100%;
		margin: auto auto;
		margin-top: 30px;
	}
	// .g-signin2{
	// 	display: 
	// }
}

.svg {
	background: url("../images/sprite.svg");
	// overflow: hidden;
	.createSocial & {
		width: 40px;
		height: 40px;
	}


}




.facebook {
	background-position: 0 -0px;
}

.google {
	background-position: 0 -50px;
}

.twitter {
	background-position: 0 -100px;
}
