{% extends "admin/base.html" %}


{% block title %}Virtual Gym Admin{% endblock %}

{% block extrastyle %}
<style>
.normal{ font-style:normal;}
#header {
    width: auto;
    height: 40px;
    padding: 10px 20px;
    background: #2f353d;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}

#content {
    padding: 0px 0px;
    padding-right: 20px;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a style="color: #ffffff"href="{% url 'admin:index' %}">Site administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block sidebar %}
<style media="screen">
  .nav-side-menu {
  overflow: auto;
  /*font-family: verdana;*/
  font-size: 12px;
  /*font-weight: 200;*/
  background-color: #2e353d;
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100%;
  color: #e1ffff;
  margin-top: 49px;
  min-height: 100vh;
}
.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}


.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  font-size: 14px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (min-width: 0px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
</style>
<div class="nav-side-menu">
    {% if app_list %}

    <i class="toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                {% for app in app_list %}
                  {% for model in app.models %}
                    <li class="model-name model-{{ model.object_name|lower }}">
                      {% if model.admin_url %}
                      <i >

                        {% if model.name != "Groups" and model.name != "Associations" and model.name != "Nonces" and model.name != "User social auths"%}
                          <a class="normal" href="{{ model.admin_url }}">{{ model.name }}</a>
                          {% if model.admin_url %}
                          <div style="float:right">
                              <a href="{{ model.admin_url }}" class="changelink"></a>
                            </div>
                          {% else %}
                              <td>&nbsp;</td>
                          {% endif %}

                          {% if model.add_url %}
                           <div style="float:right">
                              <a href="{{ model.add_url }}" class="addlink"></a>
                            </div>
                          {% else %}
                              <td>&nbsp;</td>
                          {% endif %}
                          
                        {%endif%}
                      </i>
                      {% else %}
                      <i >{{ model.name }}</i>
                      {% endif %}
                    </li>

                  {% endfor %}
                {% endfor %}
            </ul>
     </div>
     {% else %}
       <style media="screen">
         .nav-side-menu {
                display: none;
            }
       </style>
     {% endif %}
</div>

{% endblock %}
