{% extends "admin/base.html" %}


{% block title %}Virtual Gym Admin{% endblock %}

{% block extrastyle %}
<style>
#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #3274af;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}

.navbar-default {
    /*background-color: #3274af;*/
    border-color: #3274af;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a style="color: #ffffff"href="{% url 'admin:index' %}">Site administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
