{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!--  Bootstrap JavaScript  -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}

<style media="screen">
  #recent-actions-module .page-header {
    margin: 0;
  }
  #recent-actions-module h2 {
    margin-top: 0;
  }
  #recent-actions-module .none-available {
    margin-top: 10px;
  }

  #content-related {
      background: #f8f8f8;
      width: -webkit-fill-available;
      margin-right: 0px;
      min-height: 65vh;
  }

  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #f8f8f8;
    border-right: 0 solid #f8f8f8;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    border: 2px solid #eeeeee;
    border-radius: 50%;
    color: #ffffff;
    height: 38px;
    left: 50%;
    line-height: 36px;
    margin-left: -19px;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 38px;
    z-index: 100;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.add {
    background-color: #3f903f !important;
  }
  .timeline-badge.change {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.delete {
    background-color: #d9534f !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    ul.timeline:before {
      left: 40px;
    }
    ul.timeline > li > .timeline-panel {
      width: calc(100% - 75px);
      width: -moz-calc(100% - 75px);
      width: -webkit-calc(100% - 75px);
    }
    ul.timeline > li > .timeline-badge {
      left: 22px;
      margin-left: 0;
      top: 20px;
    }
    ul.timeline > li > .timeline-panel {
      float: right;
    }
    ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }

  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffffff;
}

</style>

<body style="color:#f8f8f8;">

<div id="content-main">
  {% if app_list %}
    <div class="jumbotron" style="width: -webkit-fill-available; margin-left: 220px;">
      {% block welcome-msg %}
          <h2 style="text-align: center;color: black;">{% trans 'Welcome To Virtual Gym' %}</h2>
          <strong style="float:right;color: black;">{% firstof user.get_short_name user.get_username %}</strong>
      {% endblock %}
    </div>
    <div class="panel panel-default" id="apps" style="width: -webkit-fill-available; margin-left: 220px;">

      {% block recent_actions %}
        <div id="content-related" class="recent-actions panel-body" style="">
          <div class="module" id="recent-actions-module">
            <div class="page-header">
              <h2 id="timeline" class="h3">{% trans 'Recent Actions' %} <small>({% trans '10 Actions' %})</small></h2>
            </div>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
              <p class="none-available">{% trans 'None available' %}</p>
            {% else %}
              <ul class="timeline">
                {% for entry in admin_log %}
                  {% if forloop.counter <= 10 %}
                  {% if entry.is_addition %}
                  <li>
                    <span class="timeline-badge add">
                      <i class="glyphicon glyphicon-plus"></i>
                    </span>
                  {% elif entry.is_change %}
                  <li>
                    <span class="timeline-badge change">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                  {% else %}
                  <li class="timeline-inverted">
                    <span class="timeline-badge delete">
                      <i class="glyphicon glyphicon-minus"></i>
                    </span>
                  {% endif %}
                    <span class="timeline-panel">
                      <span class="timeline-heading">
                        <h3 class="timeline-title h4">
                          {% if entry.content_type %}
                            {% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}
                          {% else %}
                            {% trans 'Unknown content' %}
                          {% endif %}
                        </h3>
                        <p>
                          <small class="text-muted">
                            <i class="glyphicon glyphicon-time"></i> {{ entry.action_time }}
                          </small>
                        </p>
                      </span>
                      <span class="timeline-body">
                        <p>
                          {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                          {% else %}
                            <a href="{{ admin_root_url }}{{ entry.get_admin_url }}">{{ entry.object_repr|truncatechars:100 }}</a>
                          {% endif %}
                        </p>
                      </span>
                    </span>
                  </li>
                  {%endif%}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endblock recent_actions %}
    </div>
  {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
  {% endif %}
</div>
{% endblock %}
