


.create_exercise_container{
	position: relative;

	width: 100%;
	.create_exercise_perm{
		p{
			text-align: center;
		}
	}
}


.view_exercise_repo_container{

	.view_repo_perm{
		position: relative;
		margin: auto auto;
		margin-top: 80px;
		text-align: center;
	}
	.row{
		display: flex;
		margin:0;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.create_exercise_perm{
		p{
			text-align: center;
		}
	}
}