


.create_exercise_container{
	position: relative;

	width: 100%;
	.create_exercise_perm{
		p{
			text-align: center;
		}
	}
}


.view_exercise_repo_container{
	margin: 0 20px 0 20px;
	.view_repo_perm{
		position: relative;
		margin: auto auto;
		margin-top: 80px;
		text-align: center;
	}
	// .repo_list{
	// 	position: relative;
	// 	margin: auto auto;
	// 	margin-top: 80px;
	// 	// text-align: center;
	// }
}