
.page_container{
	width: 100%;
	height: 100vh;
	margin: auto auto;
	// position: absolute;
	overflow:auto;
	.signIn_popup_trigger{
		cursor:pointer;
	}



}
.header_container{
	.navbar-inverse{
		border-radius: 0px;
	}
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.home_container{
	height: 100vh;
	display:block;
}

.footer_container{
	position: relative;
	height:auto;
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	height:12vh;
	
	footer{
		width: 100%;
		height: 12vh;
		a:link {color: #CDCDC1} /* link */
        a:visited {color: #CDCDC1} /* visited */
        a:hover {color: #FFFFFF} /* hover */
        a{
        	text-decoration: none;
        }
		.footer_infor{
			height: 9vh;
			display: flex;
			.footer_links{
				margin: auto 30px;
				margin-top: 1vh;
				text-align: center;
				flex-grow: 3;
				flex-direction: column;
				font-size: 12px;
				p{

					margin: auto auto;
					text-align: left;
					margin-left: 20px;
				}
				li{
					margin: auto auto;
					height: 2vh;
				}
			}
			.group_members{
				text-align: center;
				margin: auto auto;
				flex-grow: 2; 
			}
		}

		.copy_right{
			margin: auto auto;
			height: 2vh;
			text-align: center;
			font-size: 12px;
			p{
				margin: auto auto;
			}
		}

	}
}




.body_container{
	position: relative;
	width: 100%;
	margin-bottom: 10vh;
	min-height:60vh;

	@media only screen and (min-width: 500px) {
		margin-top: 15vh;
	}
	margin-top: 20vh;
}


.home{

	.home_header{
		position: relative;

		margin: auto auto;
		width: 100%;
		min-height: 180px;
			// margin: auto auto;
		.header_text {
			margin: auto;
			text-align: center;
			width: 80%;

			p {
				font-style: italic ;
				font-family: "Georgia";
				font-weight: bold;
				font-size: 50px;
				color: #6A84D8;
				text-shadow: 2px 2px #ACB1C1;
			}
		}
		
	}

}


