.home{
	position: absolute;
	width: 100%;

	.home_header{
		position: relative;

		margin: auto auto;
		width: 100%;
		height: 180px;
		margin-top: 80px;
			// margin: auto auto;
		.header_text {
			margin: auto;
			text-align: center;
			width: 80%;

			p {
				font-style: italic ;
				font-family: "Georgia";
				font-weight: bold;
				font-size: 50px;
				color: #6A84D8;
				text-shadow: 2px 2px #ACB1C1;
			}
		}
		
	}

}