

.view_exercise{
	.view_exercise_crossRef{
		font-family: Roboto, Arial, sans-serif;
		float:right;
		width: 40%;
		padding-left:8%;
		h3{
			margin:auto;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;

		}
		.refs_wrapper{
			display: inline-block;
			width:100%;
			// overflow: auto;
			.ref_element{
				display: inline-block;
				margin-top: 20px;
				width:100%;
				height: auto;
				border-bottom: 1px solid #ddd;
				padding-bottom: 10px;
				.ref_vid{
					float:left;
					margin:0;
					width: 60%;
					video{
						background-color: #D3D3D3;
						height: 20vh;
						width:100%;
					}
				}
				.ref_info{
					float:right;
					width: 33%;
					span{
						font-size: 20px;

					}
					p{
						margin-top: 10px;
					}
				}



			}
		}

	}

}

.view_exercise{
	.view_exercise_comments{
		float:left;
		width: 60%;
		.lead{
			margin-top: 15px;
		}

	}
	
}


.view_exercise{
	padding-left: 3%;
	padding-right:3%;
	width:100%;
	display:inline-block;

	
	.view_exercise_detial{
		width: 60%;
		float:left;
		margin:0;


		.container{
			width:auto;
			padding:0;
		}
		.view_exercise_detial_description{
	    	font-family: Roboto, Arial, sans-serif;
	    	.form-group{
	    		padding-bottom: 15px;
	    		border-bottom: 1px solid #ddd;
	    		margin: auto;
	    		h2{
		    		margin:auto;
		    	}
		    	label{
		    		margin-top:5px;
		    		font-size:15px;
		    	}
	    	}
	    	

		}


		video{
			width: 100%;
			background-color: #D3D3D3;
		}
		.returnData{
			display: none;
		}
		div[class^="position_wrapper"],
		.position_wrapper{
			text-align:center;
			div[class^="video_container"],
			.video_container{
				width:100%;
				position:relative;
				margin-top: 20px;
				display: inline-block;
				margin-bottom: 10px;
				

				div[class^="annotationForm_container"],
				.annotationForm_container{
					display: none;
					background-color:rgba(128,128,128, 0.7);
					position:absolute;
					width:100%;
					height: 100%;
					top:0;
					left: 0;
					z-index:100;
					div[class^="input_container"],
					.input_container{
						margin-top: 30px;
			    		vertical-align: middle;

						textarea{
							resize: none;
							width: 60%;
							height: 200px;
							font-style: italic;
							font-weight: bold;
							font-size: 15px;
						}
					}

					button{
						border:none;
						margin-top: 50px;
						height:40px;
						width: 200px;
						background-color: #83A0FE;
						border: 1px solid #979797;
						border-radius: 2px;
						box-shadow: 5px 5px 5px #888888;
						font-style: italic;
						font-weight: bold;
						font-size: 20px;
					}


				}
			}
		}

		.vid_box{
			display:inline-block;
			position:relative;
			width: 100%;
		}

		div[class^="vid_annotations_details"],
		.vid_annotations_details{
			position: absolute;
			z-index:10;
			.single_annotation{
				padding: 2px 2px 2px 2px;
				background-color: rgba(255, 80, 80,0.8);
				font-size: 13px;
				font-family: "Georgia";
				min-width: 100px;
				border-radius: 5px;
			}
		}
		a[id^="annotation_closeBtn"],
		#annotation_closeBtn{
			float: right;
			color: black;
			margin-right:20px;
			font-size:30px;
			text-decoration: none;
			cursor:pointer;

		}







		// annotation tags
		div[class^="annotation_tag_wrapper"],
		.annotation_tag_wrapper{
			display: block;
			margin: 20px 0 20px 0;
		}
		div[class^="annotation_tags"],
		.annotation_tags{
			margin: auto;
			display:flex;
			flex-direction: row;
			flex-wrap: wrap;
			.single_tag{
				height:fit-content;
				border: 1px;
				box-shadow: 0 2px 4px 0 #b4b4b4;
				margin: 0 20px 0 20px;
				width: 120px;
				text-align: center;
				
				border-radius: 5px;


				.tag_time{
					background-color: rgba(0, 191, 255,0.8);
					padding:3px 5px 3px 5px;
					display:flex;
					border-radius: 5px 5px 0 0 ;
					.tag_info{
						border-right: 1px solid black;
						margin-right: 5px;
						padding: 2px 0 2px 5px;
						flex-grow: 4;
						p{
							vertical-align: middle;
							font-size: 13px;
							vertical-align: middle;
							margin: 0;
							// line-height: 120%;
						}

						
					}
					.none_border{
						border-right: none;
					}
					.tag_close_btn{
						flex-grow: 1;
						font-size: 15px;
						cursor: pointer;
					}
				}


				.toggle{

					margin: auto;
					height: 17px;
					width: 17px;
					background-position: 0 -150px;
					cursor: pointer;
				}

				.tag_description{
					text-align: left;
					display: none;
					font-size: 13px;
					margin: 0 4px 0 4px;
				}
			}
		}

	}

}
